{% extends "iat_so/Page.html" %}
{% load otree static %}
{% load custom_tags %}

{% block title %}
{{block.super}}
{% endblock %}

{% block app_styles %}

{{ block.super }}

<style>

table.stimuli {
    margin-bottom: 1em;
}

table.stimuli td, table.stimuli th {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 0.2em;
}

table.stimuli th {
    background: lightgray;
}

</style>

{% endblock %}


{% block content %}
    <p>
        We will now show you several items that you should assign to the respective categories.

        Please press either the key <span class="key">{{ Constants.capture_keycodes.left.1 }}</span> or the key
        <span class="key">{{ Constants.capture_keycodes.right.1 }}</span> on your keyboard.<br>
        You should assign the following items to the following categories:
    </p>

    <table class="stimuli">
        <tr>
            <th>Category</th>
            <th>Item</th>
        </tr>
        <tr>
            <td>Positive Words</td>
            <td>pleasing, cheerful, magnificent, glorious, enjoy, friendship, joyous, laughing</td>
        </tr>
        <tr>
            <td>Negative Words</td>
            <td>pain, sickening, annoy, disaster, sadness, evil, grief, bothersome</td>
        </tr>
        <tr>
            <td>Gay People</td>
            <td>gay people, homosexual, lesbian, <img src="/static/iat_so/gay.png">, <img src="/static/iat_so/lesbian.png"></td>
        </tr>
        <tr>
            <td>Straight People</td>
            <td> straight people, heterosexual, different sex, <img src="/static/iat_so/straight.png"></td>
        </tr>
    </table>

    <p>
        There are {{ Constants.num_rounds }} sub-parts for which the instructions change. Please stay alert!
    </p>

{% delayed_next wait=0 label='NEXT' %}

{% endblock %}
