{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_tags %}

{% block title %}
    Practice
{% endblock %}

{% block content %}

    {% counting_box "counting_box" img answer %}

    <p>
    Above, you see a box containing 49 ones and zeros.
    Your task is to determine the number of zeros in the box.
    Once you’ve determined the number of zeros in the box, enter that number in the field above and click Submit
    </p>
    <p>
      Note: you will do this a total of three times to practice and learn how these boxes works.
    </p>

{% endblock %}
