{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_tags %}

{% block title %}
    Practice
{% endblock %}

{% block content %}

    {% counting_box_practice "counting_box" img answer %}

    <p>
    Above, you see a box containing 49 ones and zeros.
    Your task is to determine the number of zeros in the box.
    Once you’ve determined the number of zeros in the box, enter that number in the field above and click Submit.
    </p>
    <p>
    On this screen <strong>only</strong>, you will see a pop-up that tells you whether your answer was correct.
    When you actually do the Counting Task for payment later in this experiment, <strong>you will not see this pop-up</strong>.
    You will, however, see the number of correct submissions you have made in the top left corner of the screen when you are participating in Counting Task for payment.
    </p>
    <p>
      Note: you will do this a total of three times to practice and learn how these boxes works.
    </p>

{% endblock %}
