{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_tags %}

{% block title %}
    Practice
{% endblock %}

{% block content %}

    {% counting_box_practice "counting_box" img answer %}

    <p>
    Above, you see a box containing 49 ones and zeros.
    Your task is to determine the number of zeros in the box.
    Once you’ve determined the number of zeros, enter that number in the field above and click Submit. You will do this a total of three times to practice the Counting Task.
    </p>
    <p>
    On this screen <strong>only</strong>, you will see a pop-up that tells you whether your answer was correct.
    When you actually do the Counting Task for payment later in this study, <strong>you will not see this pop-up</strong>.  </p>
      <p>
    You will see the number of boxes solved in the top left corner of the screen when you are participating in Counting Task for payment.
    </p>


{% endblock %}
