{% load otree %}

<p>
  You are randomly matched <strong>with a participant who has chosen the following ID</strong>: <img style="height: 25px; width:auto;" src="{% static their_flag %}"/><b>{{their_ID}}</b>.
</p>

<p>
  You will be asked to make one simple decision which will determine the bonus payments that you and <img style="height: 25px; width:auto;" src="{% static their_flag %}"/><b>{{their_ID}}</b> will receive from this task.
</p>
<br>
<p>
  <b>Your Decision: </b> You will be asked how you would like to allocate {{ Constants.endowment }} between yourself and <img style="height: 25px; width:auto;" src="{% static their_flag %}"/><b>{{their_ID}}</b>.
</p>
<p>
  You can send any amount to <img style="height: 25px; width:auto;" src="{% static their_flag %}"/><b>{{their_ID}}</b> in increments of 1 points between 0 and 100 points. The remaining amount, if any, will be yours to keep.
</p>
<br>
    <p>
      If this task is randomly chosen to be the paying task, then your decision in this task will determine both your and your partner’s earnings.
    </p>
