{% load otree %}

<div class="card bg-light m-3">
<div class="card-body">
    <h3>
        Instructions
    </h3>
    {% include Constants.both_IDs %}
    <p>
        In this part of the survey, you will be paired with another Participant
        whose ID is shown above. They chose their ID in the same way that you did.
        That is, they chose from a list of several alpha-numeric Names and a list
        of several Icons.
    </p>
    <p>
        Your given {{ Constants.endowment }} to split between you and
        this other Participant. From the  {{ Constants.endowment }}, you
        will choose a number X points to retain for yourself.
    </p>

    <p>
        The remaining points will be given to the
        other Participant.
    </p>

    <p>
        [Notes]
    </p>
</div>
</div>
