{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Part 2: Decision Phase{% endblock %}

{% block content %}
<p>
  Now, we ask you to decide how you would like to allocate {{Constants.endowment}} between yourself and <img style="height: 25px; width:auto;" src="{% static their_flag %}"/><b>{{their_ID}}</b>.

</p>
<p>
  Please decide how much of your {{Constants.endowment}}, you would like to keep. Any remaining amount will be sent to <img style="height: 25px; width:auto;" src="{% static their_flag %}"/><b>{{their_ID}}</b>. 
</p>

{% formfield player.kept label="I will keep" %}

{% next_button %}

    {% include Constants.instructions_template %}

{% endblock %}
