{% extends "global/Page.html" %}
{% load otree %}

{% block title %} {% if task_2 %} Task 2 {% else %} Task 3 {% endif %}: Decision Phase{% endblock %}

{% block content %}
    {% include Constants.decision_template %}

<div style="text-align: center;">
  <button type="button" onclick="show_hide_Instructions()">Show/Hide Instructions</button>
</div>
    <div id="instructions">
      <div class="card bg-light m-3">
      <div class="card-body">
          {% include Constants.instructions_template %}
        </div>
        </div>
    </div>

    <style>
    #instructions {
      display: none;
    }
</style>

    </style>
    <script>
    function show_hide_Instructions() {
      var x = document.getElementById("instructions");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>

{% if task_2 %}
{% formfield player.attn_check_color %}
{% else %}
{% formfield player.attn_check_color_2 %}
{% endif %}
<div style="text-align: right;">
  {% next_button %}
</div>

{% endblock %}
