{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_tags %}
{% block title %}
  {{block.super}}: Creation of Personal ID
{% endblock %}

{% block content %}
<p> You will be asked to create a personal ID that is a combination of (i) an 8-digit alpha-numeric string of characters and (ii) an icon.
</p>

<p><u>Step 1: Choose Alpha-Numeric String</u></p>

    {% formfields %}

<p>You <strong>do not</strong> need to remember which option you have selected.
Your ID will always be shown to you whenever it is necessary.</p>
{% delayed_next wait=0 label="NEXT" %}

{% endblock %}

<!--
<div class = "mc-ma">
    {{players.otherID.label}}
    <ul>
        {% for choice in player.otherID %}
    <li>
        <label>{{choice.tag}}{{choice.choice_label}}</label>
    </li>
    {% endfor %}
    </ul>
</div> -->
