{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_tags %}

{% block title %}
    Submit Your Guesses
{% endblock %}

{% block content %}
    <p>Here, we ask you to state your guesses regarding your performance in Game-1 Piece Rate and Game-2 Tournament.</p>

    <p>For each correct answer, you will be <strong>paid an extra ${{guess_rate}}.</strong></p>

    <ol>
        <li>Thinking about your performance and those of your group members in <strong>Game-1 Piece Rate</strong>, do you think that you were
            {{ form.belief_game_1.errors }}
            {{ form.belief_game_1 }}
        </li>
        <br>
        <li>Thinking about your performance and those of your group members in <strong>Game-2 Tournament</strong>, do you think that you were
            {{ form.belief_game_2.errors }}
            {{ form.belief_game_2 }}
        </li>
    </ol>

    <!-- {% delayed_next wait=20000 label='NEXT'%} -->
    {% delayed_next wait=0 label='NEXT'%}
{% endblock %}
