{% extends "global/Page.html" %}
{% load otree %}
{% load custom_tags %}

{% block title %}
{% endblock %}

{% block content %}
<p>
  Have you ever had any kind of <i>sexual relations</i> with persons of the <strong>same</strong> gender as yourself?
</p>
{% formfield player.relations_same %}
<p>
  Have you ever had any kind of <i>sexual relations</i> with persons of <strong>different</strong> gender(s) than yourself?
</p>
{% formfield player.relations_different %}
<p>
  Have you ever been <i>sexually attracted to</i> <strong>or</strong> had <i>sexual fantasies</i> about persons of the <strong>same</strong> gender as yourself?
</p>
{% formfield player.attraction_same %}
<p>
  Have you ever been <i>sexually attracted to</i> <strong>or</strong> had <i>sexual fantasies</i> about persons of <strong>different</strong> gender(s) than yourself?
</p>
{% formfield player.attraction_different %}
{% formfield player.attn_check_4 %}

{% delayed_next label='NEXT' wait=0 %}

{% endblock %}
