{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Task 4: Survey {% endblock %}

{% block content %}
<h5><u>Part 2</u></h5>
<p>In the earlier tasks, you gave the following amounts:</p>

<table>
  <tr>
    <td><img style="height: 25px; width:auto;" src="{% static flag_1 %}"><b>{{id_1}}</b></td> <td>{{gave_1}}</td>
  </tr>
  <tr>
    <td><img style="height: 25px; width:auto;" src="{% static flag_2 %}"><b>{{id_2}}</b></td> <td>{{gave_2}}</td>
  </tr>
</table>
<br>

<p>
Please briefly explain the factors influencing your decision as to how many points to send to <img style="height: 25px; width:auto;" src="{% static flag_1 %}"><b>{{id_1}}</b> and <img style="height: 25px; width:auto;" src="{% static flag_2 %}"><b>{{id_2}}</b>.
</p>

{% formfield player.give_explain %}
<div style="text-align: right;">
  {% next_button %}
</div>
{% endblock %}
