{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Task 4: Part 1{% endblock %}

{% block content %}
<h5><u>Part 1:</u></h5>
<p>Please answer the following questions <strong>about the participant you were matched with in {% if task_2 %} Task 2 {% else %} Task 3 {% endif %}</strong></p>
<p>We will randomly select <strong>one</strong> out of the four questions below and you will receive $2 if your guess for that question is correct.</p>

<p>Consider <img style="height: 25px; width:auto;" src="{% static their_flag %}"><b>{{their_ID}}</b> from {% if task_2 %} Task 2 {% else %} Task 3 {% endif %}
</p>

<table>
  <tr>
    <td>I think their gender is most likely:</td>
    <td>{% formfield player.inferred_gender %}</td>
    <td>Confidence level:</td>
    <td>{% formfield player.gender_confidence %}</td>
  </tr>
  <tr>
    <td>I think their age is most likely:</td>
    <td>{% formfield player.inferred_age %}</td>
    <td>Confidence level:</td>
    <td>{% formfield player.age_confidence %}</td>
  </tr>
  <tr>
    <td>I think their sexual orientation is most likely:</td>
    <td>{% formfield player.inferred_orientation %}</td>
    <td>Confidence level:</td>
    <td>{% formfield player.orientation_confidence %}</td>
  </tr>
  <tr>
    <td>Politically, I think they are most likely:</td>
    <td>{% formfield player.inferred_politics %}</td>
    <td>Confidence level:</td>
    <td>{% formfield player.politics_confidence %}</td>
  </tr>
</table>
<div style="text-align: right;">
  {% next_button %}
</div>

{% endblock %}
