{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_tags %}

{% block title %}
    Game 3 – Choice
{% endblock %}

{% block content %}

    <p>
        Thank you for completing Game 2 - Tournament!
    </p>

    <h4>Overview</h4>

    <p>
        As in the previous two games, you will have {{time_limit}} seconds to participate in the Counting Task.
        However, you will now get to choose which of the two previous payment schemes (<strong>piece rate</strong> or <strong>tournament</strong>) you prefer to apply to your performance in Game - 3.
    </p>
        <br>
        <li>
    If you choose the <strong>piece rate</strong>, you will be paid <strong>{{piece_rate}} cents</strong> per solved box.
        </li>
        <li>
   If you choose the <strong>tournament</strong>, your performance will be evaluated relative to your group members’ <u><strong>past performance</u> in Game 2 – Tournament</strong>.
        And, you will be paid <strong>{{round_values}}</strong> per solved box <u>only if</u> you win the tournament (in case of ties, the winner will be randomly determined among the top performers).
    </li>
<!--
    <h6>Details on Determining Payments:</h6>
    <div class="row">
        <div class="col-1"></div>
        <p class="col">
          If Game 3 - Choice is the one randomly selected for payment, then your earnings for this game are determined as follows:
          <ul style="PADDING-LEFT: 150px">
              <li>
                  First, the computer will randomly select the tournament prize.
              </li>
              <li>
                  If, for the randomly chosen prize, you chose the piece rate you receive {{piece_rate}} cents per box you complete.
              </li>
              <li>
                  If, for the randomly chosen prize, you chose the tournament, then your performance will be evaluated relative to your group members’ past performance in Game 2 – Tournament.
                  If you completed more boxes than the other three group members did in Game 2 - Tournament, then you receive the chosen prize per completed box.
                  Otherwise, you receive no earnings for this game.
                  If there are ties, the winner will be randomly determined among the group members who tied for first place.
              </li>
          </ul>
        </p>



        <div class="row">
            <div class="col-1"></div>
            <p class="col">

       {% if seed_data is not True %}
      Note: nothing you do in this study will affect the payoffs of any other participants in this study.
      Your group is constructed using answers from participants who <strong>already participated</strong> in this study.
      Those subjects have already been paid and are not affected by your choices at all.
      {% else %}
      Note: nothing you do in Game 3 - Choice will affect the payoffs of any other participants in this study.
      Your performance in Game 3 - Choice will be compared with the performance of your group members in Game 2 - Tournament, which is already complete.
      Your group members' performance in Game 3 - Choice will likewise be compared with your performance in Game 2 - Tournament, which is already complete.
      {% endif %}
    </p>

    </div>

    <br> -->

    <br>
    {% formfields %}
    <p>
    Please click next to make your payment scheme selection for Game-3.
    </p>
    <!-- {% delayed_next wait=30000 label='START'%} -->
    {% delayed_next wait=20000 label='NEXT'%}
{% endblock %}
