{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_tags %}

{% block title %}
    Game 3 – Choice
{% endblock %}

{% block content %}

    <p>
        Thank you for completing Game 2!
    </p>

    <p>
        As in the previous two games, you will be given {{time_limit}} seconds to participate in the Counting Task.
        However, you will now get to choose which of the two previous payment schemes (<strong>piece rate</strong> or <strong>tournament</strong>) you prefer to apply to your performance in the third game.
        You will make this decision for each possible tournament prize of {{round_values}}. Each of these prizes has an equal chance of being chosen.
        After you make your choices, but before you start the Counting Task, we will let you know which of the prizes was randomly chosen to apply to this task.
    </p>

    <p>If Game 3 is the one randomly selected for payment, then your earnings for this game are determined as follows:</p>
    <ul>
        <li>
            First, the computer will randomly select the tournament prize.
        </li>
        <li>
            If, for the randomly chosen prize, you chose the piece rate you receive {{piece_rate}} cents per box you complete.
        </li>
        <li>
            If, for the randomly chosen prize, you chose the tournament, your performance will be evaluated relative to the performance of the other three participants of your assigned group in the Game 2-tournament. The Game 2-tournament is the one you just completed. If you complete more boxes than the three other members of your assigned group did in Game 2, then you receive the randomly chosen tournament prize per each box completed. You will receive no earnings for this game if you chose the tournament and one or more of your group members have a higher Game 2-tournament performance than your Game-3 performance. Your group members are the same three individuals as the ones in your assigned group in Game 2. You will not be informed of how you did in the tournament until all five tasks have been completed. If there are ties, the winner will be randomly determined among those who tied for first place.
        </li>
    </ul>
    <p>
      Note: nothing you do in this study will affect the payoffs of any other participants in this study.
      Your group is constructed using answers from participants who <strong>already participated</strong> in this study.
      Those subjects have already been paid and are not affected by your choices at all.
    </p>

    <p>The next computer screen will ask you to choose whether you want the piece rate or the tournament applied to your performance for each of the tournament prizes of {{round_values}}. A new screen will then show you the randomly chosen prize and your choice for that prize. You will then start Game-3 and will have {{time_limit}} seconds to complete boxes.</p>

    <br>

    {% delayed_next %}

{% endblock %}
