{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_tags %}

{% block title %}
    Game 3 – Choice
{% endblock %}

{% block content %}

    <p>
          Please select which payment scheme you prefer to be applied to your performance in Game-3.
        </p>
        <p>
            <u>Tournament Rule Reminder</u>: Your performance in Game-3 will be evaluated relative to your group members’ <strong>past performance in Game 2-Tournament</strong>.
        <!-- Each prize has an equal chance of being chosen.
          We ask you to indicate your choices by selecting the lowest tournament prize that you are willing to accept.
          Once you do this, the remaining buttons will be filled in for you.  -->
        </p>
{% formfields %}


    <!-- {% delayed_next wait=20000 label='SUBMIT'%} -->
    {% delayed_next wait=0 label='SUBMIT'%}

{% endblock %}
