{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_tags %}

{% block title %}
    Game 2 – Tournament
{% endblock %}

{% block content %}
<p>
    <b>Number of Solved Boxes: </b><b id="scoreboard">{{ score }}</b>
</p>

{% counting_box "counting_box" img answer %}

<br>
<p>Determine the number of zeros in the box. You will receive {{round_values}} per box solved if you solve more boxes than your group members. Otherwise you will receive nothing.</p>

{% endblock %}
