{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_tags %}

{% block title %}
    Game 2 – Tournament
{% endblock %}

{% block content %}
<p>
    <b>Number of Correct Submissions: </b><b id="scoreboard">{{ score }}</b>
</p>

{% counting_box "counting_box" img answer %}

<br>
<p>Determine the number of zeros in the box. You will receive some amount from {{round_values}} per box, chosen randomly, if you complete more boxes than your group members for Game 2. Otherwise you will receive nothing.</p>

{% endblock %}
