{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Decision Problem: {{player.round_number}}
{% endblock %}

{% block content %}
<style>
  .option-selector input{
      margin:0px;padding:0px;
      -webkit-appearance:none;
         -moz-appearance:none;
              appearance:none;
  }

  {% for i, img in img_list %}
    .o{{i}}{background-image:url("{% static img %}");}
  {% endfor %}

  .option-selector input:active +.card-option{opacity: .9;}
  .option-selector input:checked +.card-option{
      -webkit-filter: none;
         -moz-filter: none;
              filter: none;
  }
  .card-option{
      cursor:pointer;
      background-size:contain;
      background-repeat:no-repeat;
      display:inline-block;
      margin:0px;padding-top:8px;
      width:800px;height:50px;
      -webkit-transition: all 100ms ease-in;
         -moz-transition: all 100ms ease-in;
              transition: all 100ms ease-in;
      -webkit-filter: grayscale(0) opacity(0.1);
         -moz-filter: grayscale(0) opacity(0.1);
              filter: grayscale(0) opacity(0.1);
  }
  .card-option:hover{
      -webkit-filter: grayscale(0) opacity(.9);
         -moz-filter: grayscale(0) opacity(.9);
              filter: grayscale(0) opacity(.9);
  }


  /* Extras */
  a:visited{color:#888}
  a{color:#444;text-decoration:none;}
  p{margin-bottom:.3em;}
</style>
  <span style="font-family: courier">
    {% if exo %}
    <p>
        In this Decision Problem, the computer program randomly chose to give you the opportunity to choose from the options displayed below. Please select one of the following options.<br/>
    </p>
    {% else %}
    <p>
        Please select one of the following options.<br/>
    </p>
    {% endif %}
    <br/>
    <p>
        If this problem is chosen for payment, you will be paid for the number of {{Constants.pay_attribute}} displayed for the option you choose. <br/>
    </p>

    <div id="choices_2" class="option-selector">
      <table style="width:100%; font-size:20px">
        <tr><td></td><td></td></tr>
      {% for i, img in img_list %}
      <tr>
        <td> Option {{i}}: </td>
        <td> <center> <input id="{{i}}" type="radio" name="option_choose" value= "{{i}}" />
             <label for="{{i}}" class = "card-option"><img src="{% static img %}"></label> </center> </td>
      </tr>
      {% endfor %}
      <tr><td></td><td></td></tr>
      </table>
    </div>

    </span>
{{ form.option_choose.errors }}
    {% next_button %}

{% endblock %}
