{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}
<style>
  .border { border-width: 10px; border-color: black; border-style: solid; }
</style>

  <span style="font-family: courier">

    <p>An example option is displayed below:</p>
    <p><img src="{% static opt_img %}" class = "border"></p>
    <p>Notice that this option has 50 characters, 28 of which are pound signs (#).
      Then you would earn 28 points if you chose this option in the Decision Problem.
    </p>
  </span>
    {% next_button %}

{% endblock %}
