{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}
  <span style="font-family: courier">
    <p>
      In this study, you will make decisions in each of {{Constants.num_rounds}} Decision Problems.<br/>
    </p>
    <p>
      In each Decision Problem, your task is to earn points which will be converted to cash at the end of the experiment at a rate of X.
    </p>

    <p> You earn points in each Decision Problem by choosing one from a number of strings of characters.
      Each string of characters is a combination of #'s and %'s.
      The number of points you earn in the Decision Problem is the number of #'s in the option that you choose.
    </p>

    <p>An example option is displayed below:</p>
    <p><img src="{% static img %}"></p>
    <p>Notice that this option has 50 characters, 28 of which are #'s.
      Then you would earn 28 points if you chose this option in the Decision Problem.
    </p>
    <p>At the end of this study, one Decsision Problem out of the {{Constants.num_rounds}} you complete will be chosen at random
    and you will be paid for your points earned in that Decision Problem <b>only</b>.
    This is a bonus payment in addition to the X payment you will receive just for completing this study.  </p>
  </span>
    {% next_button %}

{% endblock %}
