{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}
<style>
  .border { border-width: 10px; border-color: black; border-style: solid; }
</style>

  <span style="font-family: courier">
    <p>
      In this study, you will make decisions in each of {{Constants.num_rounds}} Decision Problems.<br/>
    </p>
    <p>In each Decision Problem, you may see a screen that is similar to what is displayed below:</p>
    <p><img src="{% static dp_img %}" class = "border"></p>

    <p>On this screen, you can see some "options" which are just displayed as a combination of pound signs (#) and percent signs (%). Your job is to choose one of these options in the Decision Problem.
    </p>
    <p>  Choosing an option earns you points which will be converted to cash at the end of the experiment at a rate of {{exchange_rate}} points per USD and paid to you. The number of points an option will earn you is equal to the number of pound signs (#) in the option.
    </p>
    <p>On the next page, we'll go through an example of one option and the number of points it would earn you.</p>
  </span>
    {% next_button %}

{% endblock %}
