{% extends "global/Page.html" %}
{% load otree %}
{% load custom_tags %}



{% block title %} Task 2: Survey (Part 1){% endblock %}



{% block content %}
<p>
  You will be randomly matched with one or more participants.
  Each of these participants will be shown your ID: <img style="height: 25px; width:auto;" src="{% static my_flag %}"/><b>{{my_ID}}</b>, and they will be asked to make one simple decision which will determine the bonus payments that you will receive from this part of Task 2.
</p>

<p>
Specifically, each participant you are matched with will be shown the following screen:
</p>
<div class="card bg-light m-3">
    <div class="card-body">
{% include Constants.instructions_template %}
</div>
</div>

<p>In short, each of your matched partner(s) will be shown your personal ID, and be asked how to allocate 100 ECU between the two of you.
</p>




{% delayed_next wait=1000 label='NEXT'%}
{% endblock %}
