{% extends "global/Page.html" %}
{% load otree %}
{% load custom_tags %}



{% block title %}
{{block.super}}
{% endblock %}



{% block content %}
<p>
  You will be randomly matched with one or more participants in the United States, also recruited via the Prolific platform.
</p>
{% if not id_first %}
<p>
For now, assume that your personal ID is: <img style="height: 25px; width:auto;" src="{% static my_flag %}"/><b>{{my_ID}}</b>.
(You will get to choose this later).
</p>
{% endif %}
<p>
  Each of these participants will be shown your ID (<img style="height: 25px; width:auto;" src="{% static my_flag %}"/><b>{{my_ID}}</b>), and they will be asked to make one decision which will determine the bonus payments that you will receive from this part of Task {{task}}.

</p>

<p>
Specifically, each participant you are matched with will be given the following information:
</p>
<div class="card bg-secondary text-white m-3">
    <div class="card-body">
{% include Constants.instructions_template %}
</div>
</div>

<p>In short, each of your matched partner(s) will be shown your personal ID and will be asked how to allocate 100 ECU between the two of you.
</p>




{% delayed_next wait=1000 label='NEXT'%}
{% endblock %}
