{% load otree %}
<p style="text-align:center;"><strong><u> Information Given to Your Matched Participant(s)</u></strong></p>

<p>
  You are randomly matched with a participant who has chosen the following ID: <img style="height: 25px; width:auto;" src="{% static my_flag %}"/>{{my_ID}}.
</p>

<p>
  You will be asked to make one decision which will determine the bonus payments that you and <img style="height: 25px; width:auto;" src="{% static my_flag %}"/>{{my_ID}} will receive from this task.
</p>
<br>
<p>
  <u>Your Decision:</u> You will be asked how you would like to allocate {{ Constants.endowment }} ECU between yourself and <img style="height: 25px; width:auto;" src="{% static my_flag %}"/>{{my_ID}}.
</p>
<p>
  You can send any amount to <img style="height: 25px; width:auto;" src="{% static my_flag %}"/>{{my_ID}} in increments of 1 ECU between 0 and 100 ECU. The remaining amount, if any, will be yours to keep.
</p>
