{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Survey
{% endblock %}

{% block content %}
    {% if player.show_ID == False %}
    <p><b>To create a randomly-generated ID, please click the button below.</b></p>
    <div>
        <button name="show_ID" value= True class="btn btn-primary btn-large">Randomize ID</button>
    </div>
    {% else %}
    <p><b>Your randomly generated ID is {{ ID }}</b></p>


    {% next_button %}
    {% endif %}

{% endblock %}

<!--
<div class = "mc-ma">
    {{players.otherID.label}}
    <ul>
        {% for choice in player.otherID %}
    <li>
        <label>{{choice.tag}}{{choice.choice_label}}</label>
    </li>
    {% endfor %}
    </ul>
</div> -->
