{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
  Overview of Study
{% endblock %}


{% block content %}
  <p>This survey consists of four parts. The instructions for these each of these parts will be explained in detail later. The study should take no longer than <b>20</b> minutes in total.
  </p>
  
  <p>
    In the first part, every participant will be asked to create a personal ID that is a
  combination of i) an 8-digit alpha-numeric string of characters and ii) a photo icon.
  The alpha-numeric string of characters will be randomly chosen for you.
  You will choose your photo icon from a list of available images.
  </p>

  <p>You will be paid 1 USD for completing the study.
    Additionally, you may receive additional bonus payments based on your decisions in Part 2 or Part 3 of the study.
    Once all participants complete this study, we will randomly choose whether Part 2 or Part 3 will be used in calculation of your additional bonus payments.
    Since nobody knows whether Part 2 or Part 3 will used for payment calculations, you should pay equal attention to both parts.
    This bonus payment will occur via the Prolific platform within 21 days from the completion of this study.
  </p>
  <br>
  <p><b>Please note:</b> there will be several Attention Check questions throughout this survey meant to test whether you are paying attention. If you fail to correctly complete 1 or more of these Attention Check questions, you may not be paid.</p>

    {% next_button %}

{% endblock %}

<!--
<div class = "mc-ma">
    {{players.otherID.label}}
    <ul>
        {% for choice in player.otherID %}
    <li>
        <label>{{choice.tag}}{{choice.choice_label}}</label>
    </li>
    {% endfor %}
    </ul>
</div> -->
