{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Survey Instructions
{% endblock %}

{% block content %}
  <p><b>In this survey, you will first create an ID that is a combination of i) an 8-digit alpha-numeric string of characters and ii) an icon. </b></p>
  <p><b>The alpha-numeric string of characters will be randomly generated for you. </b></p>
  <p><b>You will choose the icon from a set of available images. </b></p>

  <p><b></b></p>
  <p><b>After setting your own ID, you will be asked a number of survey questions, some about yourself and some not. </b></p>
  <p><b>The survey should take no longer than 10 minutes. </b></p>
  <p><b></b></p>
  <p><b>You will be paid $X for completing the entire survey. </b></p>
  
    {% next_button %}

{% endblock %}

<!--
<div class = "mc-ma">
    {{players.otherID.label}}
    <ul>
        {% for choice in player.otherID %}
    <li>
        <label>{{choice.tag}}{{choice.choice_label}}</label>
    </li>
    {% endfor %}
    </ul>
</div> -->
