{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
  Instructions
{% endblock %}

{% block content %}
  <p>This survey consists of several parts. In the first part, you will be asked to create a personal ID that is a combination of i) an 8-digit alpha-numeric string of characters
  and ii) a photo icon. The alpha-numeric string of characters will be randomly generated for you. You will get to choose your photo icon from a list of available images.</p>

  <p>After setting your own ID, you will be asked a number of survey questions, some about yourself and some not.</p>
  <p>The survey should take no longer than <b>10</b> minutes.</p>
  <p>You will be paid $2 for completing the entire survey. This payment will occur via the Prolific platform, usually within 48 hours of completing the survey. </p>
  <br>
  <p><b>Please note:</b> there will be several Attention Check questions throughout this survey meant to test whether you are paying attention. If you fail to correctly complete 1 or more of these Attention Check questions, you may not be paid.</p>

    {% next_button %}

{% endblock %}

<!--
<div class = "mc-ma">
    {{players.otherID.label}}
    <ul>
        {% for choice in player.otherID %}
    <li>
        <label>{{choice.tag}}{{choice.choice_label}}</label>
    </li>
    {% endfor %}
    </ul>
</div> -->
