{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
The Counting Task
{% endblock %}

{% block content %}
<p>
    As mentioned before, you will participate in six games. In some of these games, you will be asked to complete the
    Counting Task. In The Counting Task, you will see a 7 by 7 matrix of ones and zeros as presented below. Your task is to determine the number of zeros contained in this matrix.
</p>

    <img src="{% static img %}" class="rounded mx-auto d-block">

<p>
    Next, you will participate in a practice counting task to learn how the task works.
</p>

<br>

{% delayed_next %}

{% endblock %}
