{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    Instructions
{% endblock %}

{% block content %}
    <p>
        You will be asked to participate in <strong>four</strong> different games. None of these will take more than 3 minutes. </p>

    <p>
         In addition to your participation payment of {{participation_fee}}, we will randomly select one of the four games at the end of the study. We will <strong>pay you based on your decisions and performance</strong> in that game. </p>
    <p>
         The method we use to determine your earnings varies across games. Before each game we will describe in detail how your payment is determined. </p>


    <br>

  <!-- {% delayed_next wait=15000%} -->
    {% delayed_next wait=0 label='NEXT'%}

{% endblock %}
