{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    Thank you for participating in our study.
{% endblock %}

{% block content %}
    <p>
        This is an experiment in decision-making. You will earn money based on the decisions that you and others make during this study. Since you could earn a significant amount of money from this study, please pay attention to the instructions. We will include several questions throughout this study that are intended to check your attention. If you fail any of these attention checks, your response may be rejected.
    </p>

    <p>
        We anticipate that this study will take approximately 15 minutes.
        At the end, you will receive a participation payment of {{ participation_fee }}.
        In addition to this, you will have the opportunity to make more money during this study.
        Your entire payment ({{participation_fee}} + whatever additional amount you earn) will be paid to you via the Prolific platform once your responses have been validated (usually within 48 hours of your participation).
    </p>

    <p>
        Your participation and your answers will be kept anonymous.
    </p>

    <br>

    {% delayed_next wait=30000 label='NEXT'%}

{% endblock %}
