{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_tags %}

{% block title %}
    Game 2 – Tournament
{% endblock %}

{% block content %}

    <p>
        Thank you for completing Game 1!
    </p>

    <p>
        In Game 2, as in Game 1, you will be given {{time_limit}} seconds to participate in the Counting Task where you will be asked to complete as many boxes as possible.
        However, for this game, your payment depends on your performance relative to that of a group of other participants.
        Each group consists of four people, including you.
    </p>

    <h6>Constructing Groups</h6>
    <div class="row">
        <div class="col-1"></div>
        <p class="col">
          {% if seed_data is not True %}
            Previously, a representative group of subjects on Prolific, like yourself, participated in this study.
            We coded their anonymous answers into this program.
            In order to construct your group of four, we will randomly select three past participants from this group and use their answers in determination of your earnings for Game 2.
          {% else %}
          In order to construct your group of four, we will randomly select three other participants and use their answers in determination of your earnings for Game 2.
          This group will be constructed <strong>after</strong> all participants have made their decisions in the current study.
          For this reason, you will only be informed of your performance in the tournament if Game 2 is chosen for payment <strong>after</strong> the current study is over and when you are paid your bonus payment.
          {% endif %}
        </p>
    </div>

    <h6>Determining Payments</h6>
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <p>
                If Game 2 is the one randomly selected for payment, then your earnings depend on the number of boxes you completed compared to the other three people in your group.
                If you complete more boxes than the other three people in your group, you will be paid some amount per completed box.
                Otherwise, you will not be paid anything for Game 2.
                The amount paid per completed box will be randomly determined at the end of the experiment from the following amounts: {{round_values}}.
                Each of these prizes has an equal chance of being chosen.
            </p>
            <p>
                We refer to this as the <strong>tournament payment</strong>.
                If there are ties, the winner will be randomly determined among the group members who tied for first place.
                You will not be informed of how you did in the tournament or the tournament prize until all five tasks have been completed.
            </p>
            <p>
              {% if seed_data is not True %}
              Note: nothing you do in this study will affect the payoffs of any other participants in this study.
              Your group is constructed using answers from participants who <strong>already participated</strong> in this study.
              Those subjects have already been paid and are not affected by your choices at all.
              {% endif %}
            </p>
        </div>
    </div>

    <h6>You are now ready to start Game-2.  Remember, you will have {{time_limit}} seconds to complete this game.</h6>

    <br>

    {% delayed_next wait=3000 label='START'%}

{% endblock %}
