{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Feedback
{% endblock %}

{% block content %}

  <p>
Your feedback is very important to us. Please answer the following questions.
</p>

Please indicate the extent to which you agree or disagree with the following two statements.

    {% formfield player.instruction_clear %}

    {% formfield player.earnings_clear %}

    <p>

    We would like to know what you think about the instructions. Using the text below, please tell us about your thoughts on the game instructions. Please provide as much detail as you would like.

</p>

    {% formfield player.instructions_feedback %}

    <p>
     Is there anything else you would like to share with us that would help us improve this study?
    </p>

    {% formfield player.general_feedback %}

    {% next_button wait=10000%}

{% endblock %}
