{% extends "global/Page.html" %}
{% load otree %}
{% load custom_tags %}


{% block title %} Task 2: Survey (Part 2){% endblock %}



{% block content %}

<p>
  In the next two questions, we will now ask you to predict what you think will be the decisions made by the matched partners of other participants <b>who are in a similar position as you.</b>
</p>
<p>
  Specifically, you will be shown the IDs chosen by two other participants, and you will be asked to predict what would be the average number of ECU sent to each participant by their matched partner(s).
  At the end of the experiment, you will be paid for the accuracy of one of your predictions.

</p>
<p>
  The link <a href="https://www.google.com" target="_blank">here</a> provides a detailed description of how you will be paid for your predictions.
  You do not need to know it in detail, except that the procedure is designed so that <b>it is in your best interest to state your guesses as accurately as possible.</b>
</p>

</p>

<p>The survey consists of four main parts.

</p>


  {% delayed_next wait=0 label='NEXT' %}
{% endblock %}
