{% extends "global/Page.html" %}
{% load otree %}
{% load custom_tags %}


{% block title %}
{{block.super}}
{% endblock %}

{% block content %}
<p>In the earlier tasks, you gave the following amounts:</p>

<table>
  <tr>
    <td><img style="height: 25px; width:auto;" src="{% static flag_1 %}"><b>{{id_1}}</b></td> <td>{{gave_1}}</td>
  </tr>
  <tr>
    <td><img style="height: 25px; width:auto;" src="{% static flag_2 %}"><b>{{id_2}}</b></td> <td>{{gave_2}}</td>
  </tr>
</table>
<br>

<p>
Why did you choose to send {% if same %} the same {% else %} different {% endif %} amounts to <img style="height: 25px; width:auto;" src="{% static flag_1 %}"><b>{{id_1}}</b> (your Task 1 partner) and <img style="height: 25px; width:auto;" src="{% static flag_2 %}"><b>{{id_2}}</b> (your Task 2 partner)?
In your response, please refer to your partners as your “Task 1 partner” and “Task 2 partner”. </p>

{% formfield player.different_explain %}
{% delayed_next wait=0 label='NEXT' %}
{% endblock %}
