{% extends "global/Page.html" %}
{% load otree %}
{% load custom_tags %}

{% block title %}Task 3: Survey (Part 2) {% endblock %}

{% block content %}
<p>Please briefly explain the factors influencing your decisions in Task 1 and Task 2.
  Just to remind you, you were matched with <img style="height: 25px; width:auto;" src="{% static flag_1 %}"><b>{{id_1}}</b> in Task 1 and <img style="height: 25px; width:auto;" src="{% static flag_2 %}"><b>{{id_2}}</b> in Task 2.
  If you need to refer to your partners in your response, please refer to them as your “Task 1 partner” and “Task 2 partner”, respectively.
</p>

{% formfield player.give_explain %}
{% delayed_next wait=0 label='NEXT' %}
{% endblock %}
