{% extends "global/Page.html" %}
{% load otree %}
{% load custom_tags %}

{% block title %}
{{block.super}}
{% endblock %}

{% block content %}
<style>
  td{
    padding: 10px;
    width: 25%;
  }
</style>
{% if round_2 %}
<p> Another participant in this study has chosen the ID <img style="height: 25px; width:auto;" src="{% static their_flag %}"><b>{{their_ID}}</b> and provided us with information about themselves.</p>
{% else %}
<p> Now consider a participant who has chosen the ID <img style="height: 25px; width:auto;" src="{% static their_flag %}"><b>{{their_ID}}</b>.</p>
{% endif %}
<p>Please indicate how you think they responded to the following questions.</p>

<table>
  <tr>
    <td>I think their gender identity is:</td>
    <td>{% formfield player.inferred_gender %}</td>
    <td style='text-align:right;'>How sure are you?</td>
    <td>{% formfield player.gender_confidence %}</td>
  </tr>
  <tr>
    <td>I think their age is:</td>
    <td>{% formfield player.inferred_age %}</td>
    <td style='text-align:right;'>How sure are you?</td>
    <td>{% formfield player.age_confidence %}</td>
  </tr>
  <tr>
    <td>I think their sexual orientation is:</td>
    <td>{% formfield player.inferred_orientation %}</td>
    <td style='text-align:right;'>How sure are you?</td>
    <td>{% formfield player.orientation_confidence %}</td>
  </tr>
  <tr>
    <td>I think they identify as an ally to the LGBTQ+ community:</td>
    <td>{% formfield player.inferred_ally %}</td>
    <td style='text-align:right;'>How sure are you?</td>
    <td>{% formfield player.ally_confidence %}</td>
  </tr>
  <tr>
    <td>On social issues, I think they are:</td>
    <td>{% formfield player.inferred_politics %}</td>
    <td style='text-align:right;'>How sure are you?</td>
    <td>{% formfield player.politics_confidence %}</td>
  </tr>
</table>

{% delayed_next label='NEXT' wait=0 %}

{% endblock %}
