{% extends "global/Page.html" %}
{% load otree static %}
<!-- {% load custom_tags %} -->

{% block title %}
    Thank you for participating in our study.
{% endblock %}

{% block content %}
<p>INTRO CONTENT</p>


    <p>
        Your participation and your answers will be kept anonymous.
    </p>
    <p>Finally, please note that this research does not employ deception.
      This means that the instructions that you are about to read are true and not deceptive.
      This is regulated by the researchers’ intuitional ethics committees.
    </p>

    <br>
    <p>
      On most pages in this experiment, a NEXT button will appear after some delay.
      This is to ensure that you have read the instructions/interface and is not a bug.
      A NEXT button will appear on this page 30 seconds after it was loaded.
    </p>

{% if delay %}
    {% delayed_next wait=30000 label='NEXT'%}
{% else %}
    {% delayed_next wait=0 label='NEXT'%}
{% endif %}

{% endblock %}
