{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_tags %}

{% block title %}
    Game 1 – Piece Rate
{% endblock %}

{% block content %}
    <p>
    For Game 1 - Piece Rate, you will be asked to participate in the Counting Task.
    To remind you, in the Counting Task, you will see a series of boxes containing 49 ones and zeros each as presented below.
    Your task is to determine the number of <strong>zeros</strong> in each box.
    </p>

    <img src="{% static img %}" class="rounded mx-auto d-block">

    <p>
        You will be given {{time_limit}} seconds to complete as many boxes as possible.
        If Game 1 - Piece Rate is randomly selected for payment, then you get {{piece_rate}} cents per each box you completed successfully in the {{time_limit}} seconds.
        We refer to this payment as the <strong>piece rate payment</strong>, since you will be paid for each completed box.
    </p>

    <br>

    <p>
        You are now ready to start Game 1 - Piece Rate. Remember, you will have {{time_limit}} seconds to complete as many boxes as possible.
    </p>

    <br>

    {% delayed_next wait=30000 label='START'%}

{% endblock %}
