{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_tags %}

{% block title %}
    Game 1 – Piece Rate
{% endblock %}

{% block content %}
    <p>
    For Game 1, you will be asked to participate in the Counting Task.
    To remind you, in the Counting Task, you will see a series of boxes containing 49 ones and zeros each as presented below.
    Your task is to determine the number of <strong>zeros</strong> in each box.
    Once you’ve determined the number of zeros in the box, enter that number in the field below the box and click Submit.
    You will then be informed whether your entry was correct and another box will appear.
    </p>

    <img src="{% static img %}" class="rounded mx-auto d-block">

    <p>
        You will be given {{time_limit}} seconds to complete as many boxes as possible.
        If Game 1 is randomly selected for payment, then you get {{piece_rate}} cents per each box you completed successfully in the {{time_limit}} seconds.
        Your payment is not impacted by incorrect answers.
        We only count the boxes that you complete successfully.
        We refer to this payment as the <strong>piece rate payment</strong>, since you will be paid for each completed box.
    </p>

    <br>

    <p>
        You are now ready to start Game 1. Remember, you will have {{time_limit}} seconds to complete as many boxes as possible.
    </p>

    <br>

    {% delayed_next wait=3000 label='START'%}

{% endblock %}
