{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_tags %}

{% block title %}
    Game 1 – Piece Rate
{% endblock %}

{% block content %}
    <p>
    We will now start with the first game. In <strong>Game 1 - Piece Rate</strong>, you will participate in the Counting Task. You will be given <strong>{{time_limit}}</strong> seconds to solve as many boxes as possible.
  </p>

  <!--

  To remind you, in the Counting Task, you will see a series of boxes containing 49 ones and zeros each as presented below.
    Your task is to determine the number of <strong>zeros</strong> in each box.


    <img src="{% static img %}" class="rounded mx-auto d-block">

   -->
      <p>

        If Game 1 - Piece Rate is randomly selected for payment, then you get <strong>{{piece_rate}} cents</strong> per <u>each box</u> you solve successfully.
        We refer to this payment as the <strong>piece rate payment</strong>, since you will be paid for each solved box.
    </p>

    <br>

    <p>
        You are now ready to start Game 1 - Piece Rate. Remember, you will have {{time_limit}} seconds to solve as many boxes as possible.
    </p>

    <br>

<!-- {% delayed_next wait=15000 label='START'%} -->
{% delayed_next wait=15000 label='START'%}
{% endblock %}
