{% extends "global/Page.html" %}
{% load otree static %}
{% load custom_tags %}

{% block title %}
    Game 3
{% endblock %}

{% block content %}
<p>
    <b>Number of Solved Boxes: </b><b id="scoreboard">{{ score }}</b>
</p>

<p>
    Your Payment Scheme: {% if piece_rate %}${{piece_rate_rate}} <strong>Piece Rate Payment</strong> {% else %}${{ value }} <strong>Tournament Payment</strong> {% endif %}
</p>

{% counting_box "counting_box" img answer %}

<br>
<p>Determine the number of
zeros in the box.
You will receive {% if piece_rate %}${{piece_rate_rate}} per box you solve. {% else %}${{ value }} per box you solve if you win the tournament, $0 otherwise.{% endif %}
</p>

{% endblock %}
